{
  "extends": ["plugin:vue/recommended"],
  "plugins": [
    "html"
  ],
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false, "varsIgnorePattern": "^_" }]
  },
  "env": {
    "browser": true,
    "jasmine": true
  }
}
